@font-face {
  font-family: "videophreakregular";
  src: url("../../../public/videophreak-webfont.woff2") format("woff2"),
    url("../../../public/videophreak-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
