@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "videophreakregular";
  src: url("../../../public/videophreak-webfont.woff2") format("woff2"),
    url("../../../public/videophreak-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  font-family: "VideophreakRegular", sans-serif;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
